:root {
  --vp-c-brand: #FF5722;
  --vp-c-brand-light: #FF7043;
  --vp-c-brand-lighter: #FF8A65;
  --vp-c-brand-lightest: #FFAB91;
  --vp-c-brand-dark: #E64A19;
  --vp-c-brand-darker: #BF360C;

  --vp-button-brand-active-bg: var(--vp-c-brand-light);

  --vp-local-search-highlight-bg: var(--vp-c-brand-lightest);
}
